	<head>
		<title>{{ pageName }} - {{ siteName }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="./assets/css/main.css" />
				<!-- favicon -->
		<link rel="shortcut icon" href="./images/favicon.ico">

	</head>